.App {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: black;
}

.App::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0) 25%, black);
  pointer-events: none;
  z-index: 1;
}

.carbon {
  font-size: 4em;
  letter-spacing: 3px;
  font-weight: 700;
  position: relative;
  z-index: 100;
  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 16px;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.time-label {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
/* @media only screen and (max-width: 1000px) {
  .label {
    font-size: 1rem;
  }
  .carbon {
    font-size: 2em;
    letter-spacing: 2px;
  }

  .time-label {
    font-size: 0.75rem;
  }
} */

.time__value {
  /* Nudge it a tiny amount to visually center it */
  transform: translateX(2px);
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 2rem 3rem;
  place-items: center;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (max-width: 360px) {
  .time__value {
    font-size: 2rem;
  }
}
